<h1>Create a new user</h1>
<form action="/users" method="post" accept-charset="UTF-8">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="email">E-mail:</label>
  <input type="email" name="email" id="email">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <input type="hidden" name="authenticity_token" value='test'>
  <button type="submit">Create</button>
</form>
